.index-container {
    position: absolute;
    top: 50vh;
    left: 0vw;
    margin-left: -15rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    padding: 5rem;
    div {
        flex:1;
    }
    img {
        height: 100vh;
    }
}
#images__ice-cream{
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 10vw;
    filter: drop-shadow(2px 2px 5px #808080);
}