.shop-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
}
#images__ice-cream{
    filter: drop-shadow(2px 2px 5px #808080);
    height: 80vh;
    margin-left: 5rem;
    margin-right: 5rem;
}
.txt-wrapper {
    margin: 1rem;
    h1, p { margin-bottom: 1rem; }
    p { font-size: 0.8em; }
}
.flavour-wrapper {
    display: flex;
    flex-flow: row nowrap;
    a {
        :hover { opacity: 0.5; }
        :active { border: #ffa500 solid 5px; }
    }
}
.flavour {
    margin-right: 1.5rem;
    margin-bottom: 3rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
}
.flavour__vanilla { background-color: #EDDECB; }
.flavour__strawberry { background-color: #E37370; }
.flavour__chocolate { background-color: #572007; }